.screens {
  position: relative;
  overflow: hidden;
  height: 100vh;
}


.screen {
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9) translate3d(0px, 40px, 0px);
  transition: visibility .8s, opacity .8s, transform 1.2s;
  // transform-origin: center bottom;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  &-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.screen-start {
  &-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 520px;
    height: 520px;
    margin-top: -260px;
    margin-left: -260px;
    border-radius: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    cursor: pointer;
    font-family: $headingsfont;
    color: #FFF !important;
    font-style: italic;
    text-align: center;
    @include fz(48);
    line-height: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.85);
    transition: visibility .8s, opacity .8s, transform .8s;

    &.opened {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      z-index: 19;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      // background-color: rgba(#051923, .4);
      background-color: rgba(#051923, .8);
      filter: blur(1px);
      border-radius: 50%;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      left: -40px;
      right: -40px;
      top: -40px;
      bottom: -40px;
      border: 39px solid rgba(#051923, .8);
      border-radius: 50%;
    }

    &-appeal {
      @include fz(72);
      text-transform: uppercase;
    }
  }
}

.screen-main {
  position: relative;

  &-imgs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: center bottom;
  }

  &-ear,
  &-light,
  &-corns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 100%;
  }
  &-light {
    z-index: -1;
  }
  &-corns {
    max-width: 100%;
    height: auto;
  }

  &-corn {
    cursor: pointer;
  }

  &-back {
    position: absolute;
    z-index: 1;
    left: 200px;
    left: Min(5%, 200px);
    bottom: 160px;
    bottom: Min(8%, 160px);
    display: inline-block;
    height: 75px;
    line-height: 71px;
    padding: 0px 32px;
    border: 2px solid rgba(#FFF, .2);
    border-radius: 20px;
    color: #EDEDED;
    @include fz(24);
    transition: .8s border-color, .8s color, box-shadow .8s;

    &:hover {
      border-color: #FFF;
      color: #FFF;
      box-shadow: 0px 0px 90px rgba($primary, .38);
    }
  }
}

.search {
  position: absolute;
  z-index: 1;
  right: 200px;
  right: Min(5%, 200px);
  top: 160px;
  top: Min(8%, 160px);
  width: 615px;
  // width: Max(615px, 16%);
  width: clamp(500px, 24%, 615px);
  padding: 60px;
  border: 2px solid rgba(#ABCDE5, 40%);
  border-radius: 40px;
  background: rgba(5, 25, 35, 0.40);
  box-shadow: 0px 0px 90px rgba(146, 212, 255, 0.38);

  &-form {
    position: relative;
    padding-right: 94px;
  }
  &-form-error {
    position: absolute;
    left: 0px;
    top: 100%;
    margin-top: 8px;
    @include fz(18);
    color: rgb(155, 61, 61);
  }
  &-form-input {
    width: 100%;
    height: 80px;
    padding: 0px 32px;
    @include fz(24);
    border: 1.5px solid rgba(171, 205, 229, 0.40);
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 20px;
    color: #EDEDED;
    outline: none;
    transition: .8s border-color, .8s color, box-shadow .8s;

    &:focus {
      color: #FFF;
      border-color: #FFF;
      color: #FFF;
      box-shadow: 0px 0px 90px rgba($primary, .38);
    } 
  }

  &-form-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 80px;
    width: 80px;
    padding: 24px;
    border: 1.5px solid rgba(171, 205, 229, 0.40);
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 20px;
    outline: none;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    transition: .8s border-color, box-shadow .8s;

    &:hover,
    &:focus {
      border-color: #FFF;
      box-shadow: 0px 0px 90px rgba($primary, .38);
    }

    svg {
      fill: none;
    }
  }

  &-drop {
    position: absolute;
    top: 100%;
    margin-top: 40px;
    left: 0;
    width: 100%;
    border: 2px solid rgba(#ABCDE5, 40%);
    border-radius: 40px;
    padding: 30px 60px 40px;
    background: rgba(5, 25, 35, 0.40);
    box-shadow: 0px 0px 90px rgba(146, 212, 255, 0.38);
    transition: visibility .8s, opacity .8s, transform .8s;
    visibility: hidden;
    opacity: 0;
    transform: translate(0px, -20px);

    &.opened {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);
    }

    &-title {
      margin-left: -60px;
      margin-right: -60px;
      padding: 0px 60px 25px;
      margin-bottom: 30px;
      border-bottom: 1px solid rgba(#ABCDE5, 40%);
      @include fz(20);
      color: #a9a9a9;
    }
  }

  &-results {
    margin-right: -10px;
    padding-right: 10px;
    max-height: calc(84vh - 400px);
    overflow-x: hidden;
    overflow-y: auto;
    transition: color .8s;
  }
  &-not-found {
    text-transform: uppercase;
    color: #FFF;
    @include fz(26);
    font-family: $headingsfont;
  }
  &-result {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 50px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &-photo {
      flex: 0 0 72px;
      max-width: 72px;
      height: 72px;
      aspect-ratio: 1/1;

      img {
        display: block;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }

    &-name {
      padding-left: 14px;
      text-transform: uppercase;
      @include fz(26);
      font-family: $headingsfont;
    }

    &-arrow {
      position: absolute;
      right: 4px;
      top: 50%;
      margin-top: -14px;
      width: 28px;
      height: 28px;
      background: url(../images/svg/arrow-right.svg) center no-repeat;
      transition: transform .8s;
    }

    &:hover {
      color: #FFF;

      .search-result-arrow {
        transform: translate(4px, 0px);
      }
    }
  }
}

@keyframes pulse {
  50% {
    opacity: 0;
  }
}
@keyframes corn {
  50% {
    opacity: 0.6;
  }
}
@keyframes wind {
  33% {
    transform: rotate(1deg);
  }
  66% {
    transform: rotate(-1deg);
  }
}

.screen.active {
  .screen-main-light {
    animation: pulse 5s infinite linear;
  }
  .screen-main-imgs {
    animation: wind 13s infinite linear;
  }
  .corn-1 {
    animation: corn 3s infinite linear;
  }
  .corn-2 {
    animation: corn 4s .5s infinite linear;
  }
  .corn-3 {
    animation: corn 3s .2s infinite linear;
  }
  .corn-4 {
    animation: corn 3.5s .3s infinite linear;
  }
  .corn-5 {
    animation: corn 2s infinite linear;
  }
  .corn-6 {
    animation: corn 2.5s .1s infinite linear;
  }
  .corn-7 {
    animation: corn 4s infinite linear;
  }
}

.popup-opened {
  .screen.active {
    filter: blur(5px);
  }
}
.popups {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.95);
  transition: visibility .8s, opacity .8s, transform .8s;

  &.opened {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    z-index: 19;
  }
}
.popup-bg {
  position: fixed;
  z-index: 19;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000,.6);
}
.popup-wrp {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.popup {
  flex: 0 0 1440px;
  width: 1440px;
  max-width: 100%;
}
.person {
  display: flex;
  width: 100%;
  padding: 54px;
  border: 2px solid rgba(#ABCDE5, 40%);
  border-radius: 20px;
  background: #051923;
  box-shadow: 0px 0px 90px rgba(146, 212, 255, 0.38);
  @include fz(26);
  color: #DCF3FF;
  
  &-photo {
    flex: 0 0 31%;
    max-width: 31%;
    aspect-ratio: 3/4;

    img {
      display: block;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }

  &-bio {
    flex: 0 0 69%;
    max-width: 69%;
    padding-left: 54px;
  }

  &-pos {
    color: #9EAFB8;
    margin-bottom: 20px;
  }

  &-name {
    @include fz(60);
    margin-bottom: 36px;
    text-transform: uppercase;
    color: #FFF;
    font-family: $headingsfont;
    line-height: 1.2;
  }

  &-experience {
    margin-bottom: 40px;
    font-weight: 500;

    &-sticker {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      height: 50px;
      line-height: 48px;
      padding: 0px 24px;
      background-color: #213037;
      border: 1px solid #476171;
      border-radius: 25px;
      color: #FFF;
      font-weight: 600;
    }
  }
}

.popup-btns {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;

  &-btn {
    display: inline-block;
    vertical-align: middle;
    height: 68px;
    line-height: 66px;
    padding: 0px 32px;
    border-radius: 20px;
    border: 1px solid rgba(171, 205, 229, 0.40);
    background: rgba(5, 25, 35, 0.65);
    color: #FFF;
    transition: .8s border-color, .8s box-shadow;

    svg {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px;
      width: 28px;
      height: 28px;
      margin-right: 7px;
    }

    &:hover {
      border-color: #FFF;
      box-shadow: 0px 0px 90px rgba($primary, .38);
      color: #FFF;
    }
  }

  &-prev {
    margin-right: 21px;
  }

  &-next {
    svg {
      margin-right: 0;
      margin-left: 7px;
    }
  }
}